.choice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    width: 15pc;
    margin: 60px auto;
}

.choice div {
    padding: 15px;
    background: #79e879;
}

.choice div:hover {
    background: #3f6c37;
}
